%br
%button.btn.btn-primary.btn-sm.pull-right.agregar-pregunta{'type':"button", 'data-toggle':'modal', 'data-target':'#crearPregunta', 'data-grupo-id':"={index}"} Agregar Pregunta
%input.grupo-id{'type':'hidden', 'value':"={grupo.pk}"}
%input.grupo-nombre{'type':'hidden', 'value':"={grupo.nombre}"}
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th{'width':'80%'} Pregunta
      %th Opciones
      %th{'colspan':2} Acciones
  %tbody
    - for pregunta in grupo.preguntas.all
      %tr
        %td.hidden.pregunta-id= pregunta.pk
        %td.pregunta{'width':'80%'}= pregunta.pregunta
        %td= pregunta.opciones.count
        %td
          %a{'href':'#'} Editar
        %td
          %a{'href':'#'} Eliminar
        %td.hidden.opciones
          - for opcion in pregunta.opciones.all
            %span.opcion
              %span.opcion-text= opcion.opcion
              %span.opcion-id= opcion.pk

